a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: #0b0e1c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
